@import "tailwindcss";

:root {
  --color-terracotta: #D88C5A;
  --color-background: #F5F5F0;
  --color-ellipse: #D0CECE;
  --color-text-primary: #000000;
  --color-text-secondary: #9D9D9D;
  --color-text-muted: #D9D9D9;
}

@theme inline {
  --color-terracotta: var(--color-terracotta);
  --color-background: var(--color-background);
  --color-ellipse: var(--color-ellipse);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-playfair);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-inter), Arial, sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
